body{
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE1mBYLwDXbV6SwDT6aDN6HUiCWv6PuuK3pQ&usqp=CAU); */
    /* background-repeat: no-repeat; */
    /* background-color: rgb(26, 31, 123); */
    background-image: url("../assets/backgroundImage.jfif");
}
h1{
    margin-top: 5%;
    color: rgb(213, 202, 202);
    text-align: center;
    font-family:  Georgia, Verdana, sans-serif;
    font-size: 50px;
}
form,#message{
    border: solid rgb(213, 202, 202);;
    border-radius: 5pc;
    padding: 3%;
    margin-top: 3%;
    margin-left:34%;
    margin-right: 15%;
    width:25%;
} 

.level,.typeEncDec,.isShare{
    accent-color: rgb(125, 203, 251);
    /* color: aliceblue; */
    color: black;
    /* text-align: center; */
    /* margin: 25%; */
    font-family:Georgia, Verdana, sans-serif;
    font-size:large;
}

.rbuttons,#encLevel{
    text-align: center;
    /* accent-color: rgb(125, 203, 251); */
    color: black;
    /* margin-left: 25%; */
}

label #email,#password,#path,#cpassword{
  
    /* padding-left:10%; */
    text-align: center;
    font-family:Georgia, Verdana, sans-serif;
    margin-top:10%;
    margin-bottom:10%;
     margin-left:20%;
    /* color: aliceblue; */
    color: black;
     background-color: rgba(218, 214, 214, 0.295);
    height: 40px;
    width:50%;
    border-radius: 2pc;

}

p{
    /* color:rgb(213, 202, 202);   */
    /* color: aliceblue; */
    color: black;
    font-family:Georgia, Verdana, sans-serif;
    font-size:large;
    margin-top:10px;
    margin-bottom:10px;
    /* margin-left:35%; */
    text-align: center;
}
.submit{
    background-color: rgba(218, 214, 214, 0.295);
    margin-top:10px;
    margin-bottom:10px;
     margin-left:40%;
    text-align: center;
    /* color:white; */
    color: black;
}
p #first{
    /* color:rgb(213, 202, 202);   */
    /* color: aliceblue; */
    color: black;
    font-family:Georgia, Verdana, sans-serif;
    font-size:medium;
    margin-top:10px;
    margin-bottom:10px;
    /* margin-left:35%; */
    text-align: center;
}
a{
    /* color:rgb(213, 202, 202);   */
    /* color: aliceblue; */
    color: black;
    font-family:Georgia, Verdana, sans-serif;
    font-size: medium;
    margin-top:10px;
    margin-bottom:10px;
}